body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    position: center;
    width: 100%;
  }