<div class="container-fluid bg-light">
    <div >
        <div class="row">
            <div class="col-5">
                <img src="" />
            </div>
            <div class="col-7">
                <b style="text-decoration: underline;">Perfusion sheet</b>
                <br>
                <div><span>Date:</span> <span>23/07/2021</span></div>
            </div>
        </div>
        <div class="row" style="justify-content: space-around;">
            <span>patient name:</span>
            <span>0</span>
        </div>
        <div class="row" style="justify-content: space-around;">
            <span>Weight</span>
            <span>kg</span>
        </div>
        <div class="row" style="justify-content: center;"> <span>MRN</span></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nutrients</th>
                    <th scope="col">Volume (ml)</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Dextrose 25 %</th>
                    <th scope="col">0</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Dis.Sterile H2O</th>
                    <th scope="col">0</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Aminoven N 10%</th>
                    <th scope="col"></th>
                    <th scope="col">g/kg/day</th>
                </tr>
                <tr>
                    <th scope="col">Glycophos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Sodium</th>
                    <th scope="col"></th>
                    <th scope="col">mEq/kg/day</th>
                </tr>
                <tr>
                    <th scope="col">Kcl 15 %</th>
                    <th scope="col"></th>
                    <th scope="col">mEq/kg/day</th>
                </tr>
                <tr>
                    <th scope="col">Trace Minerals</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Mg So4</th>
                    <th scope="col"></th>
                    <th scope="col">mmol/kg</th>
                </tr>
                <tr>
                    <th scope="col">soluvit N</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">lipids 20 %</th>
                    <th scope="col"></th>
                    <th scope="col">g/kg/day</th>
                </tr>
                <tr>
                    <th scope="col">PN volume (ml)</th>
                    <th scope="col" colspan="2">0</th>
                </tr>
                <tr>
                    <th scope="col">Osmolarity</th>
                    <th scope="col" colspan="2">0</th>
                </tr>
                <tr>
                    <th scope="col">Calories</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div >
        <div class="row" style="justify-content: end;"> <img style="margin-bottom: -50px;"
                src="./assets/images/ora/logo.png" width="100" height="100"> </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Patient Name:</th>
                    <th scope="col" colspan="2">Volume (ml)</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">MRN</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">23/07/2021</th>
                </tr>
                <tr>
                    <th scope="col">glucose</th>
                    <th scope="col"></th>
                    <th scope="col">0</th>
                    <th scope="col"></th>
                    <th scope="col">Exp. Date</th>
                    <th scope="col">24/07/2021</th>
                </tr>
                <tr>
                    <th scope="col">protein</th>
                    <th scope="col"></th>
                    <th scope="col">0gm</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">lipid 20%</th>
                    <th scope="col"></th>
                    <th scope="col">0gm</th>
                    <th scope="col"></th>
                    <th scope="col">Total volume</th>
                    <th scope="col">0 ml</th>

                </tr>
                <tr>
                    <th scope="col">Sodium</th>
                    <th scope="col"></th>
                    <th scope="col">0 mmol/day</th>
                    <th scope="col"></th>
                    <th scope="col">infustion rate</th>
                    <th scope="col">ml/hr</th>
                </tr>
                <tr>
                    <th scope="col">K+</th>
                    <th scope="col"></th>
                    <th scope="col">0 mmol/day</th>
                    <th scope="col"></th>
                    <th scope="col">Osmolarity</th>
                    <th scope="col">0</th>

                </tr>
                <tr>
                    <th scope="col">phosphorus</th>
                    <th scope="col"></th>
                    <th scope="col">0 mmol/day</th>
                    <th scope="col"></th>
                    <th scope="col">Total Calories</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Mg+</th>
                    <th scope="col"></th>
                    <th scope="col">0 mmol/day</th>
                    <th scope="col"></th>
                    <th scope="col">GIR</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">Trace:</th>
                    <th scope="col"></th>
                    <th scope="col">vitamins</th>
                    <th scope="col"></th>
                    <th scope="col" colspan="2"></th>
                </tr>

            </tbody>
        </table>


        <div><b style="text-decoration: underline;color: #000;">can be infused Peripherally or Centrally</b></div>
        <div class="row">
            <div class="col-6 text-dark d-block">
                <p class="d-block"> the waste volume in line is 15 cm the components are readjusted to fillfull the prepared</p>
            </div>
            <div class="col-6 text-dark d-block" >
                <p>To be Rejected if the Solution is
                    cloudy or the container is Damaged
                    Keep away from light
                    Keep at room temp 30 mins before use
                    Gently shake before hanging</p>
            </div>
        </div>

    </div>

</div>